.subscription-dashboard {
  display: grid;
  gap: 1.5rem;
  padding: 2rem;
  max-width: 800px;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  }

  .teas-info {
    grid-column: span 2;
  }



.subscription-header, .customer-info, .teas-info {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f9;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.subscription-header h1 {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  color: #333;
}

.subscription-header p, .customer-info p, .tea-item p {
  margin: 0.3rem 0;
  color: #555;
}

.teas-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tea-item {
  background-color: #fff;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: start;
}

.tea-image {
  width: 100px;
  height: auto;
  margin-top: 0.5rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.status-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.toggle-button {
  margin-left: auto;
  color: white;
  background-color: #333;
  padding: 2px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.toggle-button:hover {
  background-color: #555; 
}